<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="applicable-device"content="pc,mobile">
	<title>800众服</title>
	<link rel="stylesheet" href="/themes/theme_default/cf/pro/css/bootstrap.min.css">
	<link rel="stylesheet" href="/themes/theme_default/cf/pro/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/themes/theme_default/cf/pro/css/ace.min.css">
	<link href="/themes/theme_default/cf/pro/css/datepicker.css">
	<link rel="stylesheet" href="/themes/theme_default/cf/pro/css/800zf.css">
	<script src="/themes/theme_default/cf/pro/js/jquery.js"></script>
	<script src="/themes/theme_default/dist/jquery.form.js"></script>
	<script src="/plugins/layer/layer.js" ></script>
	<script src="/plugins/vue/vue.min.js" ></script>
	<script src="/themes/theme_default/cf/pro/js/bootstrap.min.js"></script>
	<script src="/themes/theme_default/cf/js/url.js"></script>
	<script src="/themes/theme_default/cf/pro/js/pro/myDream.js"></script>
	<script src="/themes/theme_default/cf/wechat/js/lib_wechat.js"></script>
</head>
<body>
<#include "include/header.html">
<div class="container-fulider">
	<div class="sidebar" id="sidebar">
		<div class="sidebar-shortcuts" id="sidebar-shortcuts"></div>
		<ul class="nav nav-list">
			<li class="active">
				<a href="/manage/code/leader.html?id=${id}">
					<i class="icon-desktop"></i>
					<span class="menu-text">领投人设置</span>
					<b class="arrow icon-angle-down"></b>
				</a>
			</li>
			<li>
				<a href="/manage/code/order.html?id=${id}">
					<i class="icon-desktop"></i>
					<span class="menu-text">订单</span>
					<b class="arrow icon-angle-down"></b>
				</a>
			</li>
		</ul>
	</div>
	<div class="main-content">
		<ol class="breadcrumb">
		  <li><a href="#">项目管理</a></li>
		  <li class="active">众筹中</li>
		</ol>
		<div class="page-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabbable">
						<ul class="nav nav-tabs" id="myTab">
							<li class="active">
								<a data-toggle="tab" href="#home"><i class="icon-list blue"></i>基本信息</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="home" class="tab-pane in active">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>编号</th>
											<th>项目名称</th>
											<th>期望募集金额</th>
											<th>已募集金额</th>
											<th>PC显示状态</th>
											<th>微信显示状态</th>
											<th>PC首页显示</th>
											<th>微信首页显示</th>
											<th><i class="icon-cog blue"></i>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-repeat="model in item" id="tr{{model.id}}"  >
											<td v-text="model.id" ></td>
											<td v-text="model.projectName" ></td>
											<td v-text="model.wannaAccount" ></td>
											<td v-text="model.account" ></td>
											<td>
												<span v-if="1===model.isShowPc" >显示</span> 
												<span v-if="0===model.isShowPc" >不显示</span> 
											</td>
											<td>
												<span v-if="1===model.isShowWechat" >显示</span> 
												<span v-if="0===model.isShowWechat" >不显示</span> 
											</td>
											<td>
												<span v-if="1===model.pcIndexStatus" >显示</span> 
												<span v-if="0===model.pcIndexStatus" >不显示</span> 
											</td>
											<td>
												<span v-if="1===model.wechatIndexStatus" >显示</span> 
												<span v-if="0===model.wechatIndexStatus" >不显示</span> 
											</td>
											<td>
												<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
													<button type="button" class="btn btn-white btn-yellow btn-sm" onclick="pass({{model.id}})" >通过</button>
													<button type="button" class="btn btn-white btn-yellow btn-sm" onclick="cacle({{mode.id}})" >撤销</button>
													<button type="button" class="btn btn-white btn-yellow btn-sm" onclick="look({{mode.id}})" >查看</button>
													<button type="button" class="btn btn-white btn-yellow btn-sm" onclick="order({{mode.id}})" >订单</button>
													<button type="button" class="btn btn-white btn-yellow btn-sm" onclick="leader({{mode.id}})" >领投人</button>
												</div>											
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/themes/theme_default/cf/pro/js/fuelux.wizard.min.js"></script>
<script src="/themes/theme_default/cf/pro/js/ace-elements.min.js"></script>
<script src="/themes/theme_default/cf/pro/js/ace.min.js"></script>
</body>
</html>