<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>800众服</title>
    <link rel="stylesheet" href="/themes/theme_default/cf/wechat/css/base.css" />
	<link rel="stylesheet" href="/themes/theme_default/cf/wechat/css/cf_wx.css" />
	<script src="/themes/theme_default/cf/wechat/js/jquery.js" ></script>
	<script src="/plugins/vue/vue.min.js"></script>
	<script src="/themes/theme_default/cf/wechat/js/user/setting.js"></script>
</head>
<body>
	<input type="hidden" value="${investor}" id="status" >
	<div class="back">
		<div class="back-left" id="menue"><img src="/themes/theme_default/cf/wechat/img/menue.png"/></div>
		<span>我的设置</span>
	</div>
	<#include "../include/menue.html">
	<div class="wallet-content">
		<ul>
			<li>
				<a href="/cf/wechat/user/changePwd.html">
					<div class="wallet-col-left">登录密码修改</div>
					<div class="wallet-col-right"><span>&gt;</span></div>
				</a>
			</li>
			<li>
				<a href="/cf/wechat/user/changePay.html">
					<div class="wallet-col-left">交易密码修改</div>
					<div class="wallet-col-right"><span>&gt;</span></div>
				</a>
			</li>
			<li>
				<a href="/cf/wechat/user/meet.html">
					<div class="wallet-col-left">合格投资人认证</div>
					<div class="wallet-col-right">
						<font v-if="0===data.status" >去认证</font>
						<font v-if="1===data.status" >已认证</font>
						<span>&gt;</span>
					</div>
				</a>
			</li>
		<!-- <li>
				<a href="javascript:;">
					<div class="wallet-col-left">联系地址设置</div>
					<div class="wallet-col-right"><span>&gt;</span></div>
				</a>
			</li> -->
		</ul>
	</div>	
</body>
</html>