body, input, select, textarea, a, pre{
  font-size: 14px;
  color: #333;
  outline: none;
}
body, div, h1,h2,h3,h4,h5,h6, ul, li, dl, dt, dd, i, em, pre, option,p {
  margin: 0;
  padding: 0;
}
body {
  background: #f9f9f9;
}
body.cfff {
  background: #fff;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
.clr { clear: both; height: 0;}
a:link, a:visited {
  color: #333;
  text-decoration: none;
}
em {
  font-style: normal;
}
.button {
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #2370b6;
  color: #2370b6;
  font-size: 16px;
}
.button.button-block {
  display: block;
  margin: 0 10px;
  text-align: center;
}
.button.button-main {
  background-color: #2370b6;
  color: #fff;
}
.fs12 {
  font-size: 12px;
}
.fs18 {
  font-size: 18px;
}
.fr {
  float: right;
}
.link {
  color: #2370b6 !important;
}
.txt-success {
  color: #81d8d0 !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.ltr {
  text-align: right;
}
.header {
  position: relative;
  background: #2370b6;
  text-align: center;
  color: #fff;
  line-height: 45px;
  margin-bottom: 15px;
  font-size: 16px;
}
.header.nonebottom {
  margin-bottom: 0;
}
.header .backto {
  position: absolute;
  border-width: 10px;
  border-style: dashed solid dashed dashed;
  border-color: transparent #e3e7e8 transparent transparent;
  left: 0px;
  top: 13px;
}
.header .backto:after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: dashed solid dashed dashed;
  border-color: transparent #2370b6 transparent transparent;
  left: -9px;
  top: -10px;
}

.row {
  position: relative;
  display: block;
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  border: 1px solid #e3e7e8;
  border-width: 1px 0;
  margin-bottom: 10px;
}
.row .row-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin: 12px 10px;
  border: none;
}
.row .row-arrow {
  width: 6px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 17px;
}
.row .row-value {
  position: absolute;
  font-size: 12px;
  right: 22px;
  line-height: 46px;
  color: #666;
}
.row-group {
  margin-bottom: 10px;
}
.row-group .row {
  margin: -1px 0 0 0;
}

/*inputs*/
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.input-row {
  position: relative;
  height: 44px;
  line-height: 44px;
  margin: 10px 0;
  border: 1px solid #e3e7e8;
  border-width: 1px 0;
  width: 100%;
  background-color: #fff;
}
.lay-row {
  height: 44px;
  line-height: 44px;
  margin: 10px 0;
  padding: 0 20px;
}
.lay-row.mini-row {
  height: 20px;
  line-height: 20px;
}
.lay-row.m10 {
  padding: 0 10px;
}
.input-row.nonetop {
  border-top: none;
}
.input-row .input-row-inner,
.input-row .input-error-tip,
.input-row .input-button {
  position: absolute;
}
.input-row .input-row-inner, .lay-row .input-row-inner {
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
}
.input-group {
  margin-bottom: 10px;
}
.input-group.m10 .input-row .input-row-inner, .input-row.m10 .input-row-inner, .lay-row.m10 .input-row-inner {
  left: 10px;
  right: 10px;
}
.input-row .input-text {
  height: 24px;
  line-height: 24px;
  padding: 10px 0;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
}
.input-row .input-error-tip {
  top: 10px;
  right: 20px;
  display: none;
  height: 24px;
  line-height: 24px;
  color: #c90a12;
}
.input-row .input-button {
  top: 0;
  right: 0;
  height: 44px;
  width: 115px;
  text-align: center;
  border-left: 1px solid #e3e7e8;
  background-color: #fff;
}
.input-row.input-title-row {
  padding: 5px 0;
  line-height: 55px;
}
.input-row.input-icon-row .iconfont {
  margin-left: 20px;
}
.input-row.input-icon-row .input-row-inner {
  left: 45px;
}
.input-row.input-error {
  color: #c90a12;
  border-color: #c90a12;
}
.input-row.input-error .input-error-tip {
  display: block;
}
.input-row.input-button-row.input-error-tip {
  right: 140px;
}
.input-row.input-button-row.input-error-checkTip {
  top: 10px;
  right: 140px;
  display: none;
  height: 24px;
  line-height: 24px;
  color: #c90a12;
}
.input-row .yhcard{
  margin-left: 10px;
}
.input-row .card-tip.hide{
  margin-left: 10px;
  display: none;
}
.input-group .input-row {
  margin: -1px 0 0 0;
}

.check-box {
  height: 14px;
  line-height: 14px;
}

.check-box .check-icon {
  width: 12px;
  height: 12px;
  float: left;
  margin: 4px 5px 0 0;
}
.tab {
  height: 34px;
  background-color: #fff;
}
.tab .tab-item {
  display: inline-block;
  position: relative;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.tab.col3 .tab-item {
  width: 33%;
  color: #666666;
  float: left;
}
.tab.col3 .tab-item:last-child {
  float: right;
}
.tab .tab-item.current {
  border-bottom-color: #2370b6;
}
.tab .tab-item .split {
  width: 0px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 10px;
  border-left: 1px solid #e3e7e8;
}

.list {
  background: #fff;
}
.list .list-header {
  height: 26px;
  line-height: 26px;
  background-color: #e7e7e7;
  font-size: 12px;
  color: #999999;
}
.list .col {
  text-indent: 20px;
  float: left;
  margin-left: -1px;
}
.list .col.fr {
  float: right;
}
.list .col.w10 {
  width: 10%;
}
.list .col.w20 {
  width: 20%;
}
.list .col.w30 {
  width: 30%;
}
.list .col.w40 {
  width: 40%;
}
.list .col.w50 {
  width: 50%;
}
.list .col.w60 {
  width: 60%;
}
.list .col.w70 {
  width: 70%;
}
.list .col.w80 {
  width: 80%;
}
.list .col.w90 {
  width: 90%;
}
.list .col.w100 {
  width: 100%;
}
.list .list-block {
  padding: 8px 0;
  border-bottom: 1px solid #e3e7e8;
}
.list .list-block:last-child {
  border-bottom: none;
}
.list .list-row {
  height: 24px;
  line-height: 24px;
}
.list .list-row.overflow {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.list .list-ltr {
  text-align: right;
  padding-right: 20px;
}
.list .list-ltr-10 {
  text-align: right;
  padding-right: 10px;
}
.list-tip {
  height: 14px;
  line-height: 14px;
  text-align: center;
  color: #999999;
  font-size: 12px;
  margin: 5px 0;
}
.list-tip img {
  display: inline-block;
  position: relative;
  width: 11px;
  height: 11px;
  margin: 2px 5px 0 0;
}

/**阶段 2**/
.logo {
  position: relative;
  top: 3px;
  width: 88px;
  height: 18px;
}

.full-row {
  border-bottom: 1px solid #e3e7e8;
  padding: 15px;
}
.about-title {
  display: block;
  color: #2370b6;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.about-desc {
  text-indent: 20px;
  line-height: 20px;
  text-align: justify;
}
.about-row {
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}
.about-row.nonebottom {
  margin-bottom: 0;
}
.about-row img {
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.copyright, .copyright a {
  margin: 15px 0;
  text-align: center;
  color: #999999;
  line-height: 20px;
}
.event, .u-item {
  margin: 10px;
  padding-bottom: 5px;
  background: #fff;
  border: 1px solid #e5e4e4;
}
.event img {
  width: 100%;
  margin-bottom: 5px;
}
.event .evt-title, .event .evt-date {
  line-height: 22px;
  padding: 0 15px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.event .evt-date {
  color: #b6b6b6;
}
.u-item {
  position: relative;
  padding: 15px 10px;
}
.u-item .u-left {
  width: 60px;
  float: left;
}
.u-item .u-left .u-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-bottom: 8px;
}
.u-item .u-left .button.mini-button {
  height: 24px;
  line-height: 24px;
  margin: 0;
  font-size: 14px;
}
.u-item .u-right {
  margin-left: 70px;
}
.u-item .u-right .u-name {
  margin: 6px 0 7px 0;
  font-size: 16px;
}
.u-item .u-right .u-name .sub-title {
  font-size: 14px;
  margin-left: 10px;
}
.u-item .u-right .u-desc {
  height: 72px;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  overflow: hidden;
  text-align: justify;
}
.u-item .tui {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
}
.bankcard {
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
  height: 40px;
  padding: 15px;
  margin-bottom: 10px;
}
.bankcard .bank-icon {
  width: 34px;
  height: 34px;
  float: left;
  margin: 3px 10px 3px 0;
}
.bankcard .button-mini {
  height: 20px;
  position: absolute;
  right: 15px;
  top: 25px;
  line-height: 20px;
  font-size: 14px;
  padding: 0 10px;
}
.bankcard .bank-name {
  font-size: 16px;
  margin: 2px 0 10px 10px;
}
.bankcard .bank-name .card-type {
  font-size: 14px;
  margin-left: 10px;
}
.bankcard .card-number {
  color: #666666;
}
.my {
  background: #81d8d0;
  color: #fff;
}
.my .my-total {
  padding: 20px;
  border-bottom: 1px solid #b7eee9;
}
.fs14{
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.my-total .my-total-amount {
  text-align: center;
  padding: 0;
}
.my-total .my-total-amount .money {
  font-size: 32px;
}
.my-total .my-total-amount .money-sub {
  font-size: 24px;
}
.my .my-amount {
  padding: 15px 10px 15px 20px;
  font-size: 12px;
}
.my-row {
  height: 42px;
  color: #666666;
  line-height: 42px;
  margin-left: 25px;
  font-size: 12px;
  padding-right: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.button.button-default {
  border-color: #d4d4d4;
  font-size: 14px;
  color: #666;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
}
.fluid-button {
  margin: 50px 5px 0 5px;
  height: 42px;
}
.fluid-button .fluid-col {
  width: 50%;
  float: left;
}
.fluid-col .button {
  margin: 0 5px;
  display: block;
  text-align: center;
}
.list .list-block.clearfix .show_detail .col.w60 .list-row .yzc{
  font-size:12px;
  border:1px solid #ccc;
  background:#ccc;
  color:#fff;
  left:30%;
  padding: 1px 5px;
  border-radius: 3px;
  outline: none;
  position: absolute;
  height: 18px;
  line-height: 18px;
  text-indent: 0;
}
.list .list-block.clearfix .show_detail .col.w60 .list-row .zc{
  font-size:12px;
  border:1px solid #2370b6;
  background:#2370b6;
  color:#fff;
  left:30%;
  padding: 0 11px;
  border-radius: 3px;
  position: absolute;
  height: 22px;
  line-height: 22px;
  text-indent: 0;
}

.tipsWrap{padding-top:20px;}
.w794{width:794px;padding:40px;}
.w450{width:450px;}
.w384{width:384px;}
.tipsTitle{color:#2765b6;font-size:12px;font-weight:normal;}
.tipsTitle b{font-weight:normal;padding-left:35px;}
.tipsWrap dl{background:url(../bg/Identifyico.jpg) no-repeat;padding-left:65px;margin-left:30px;}
.tipsWrap dl dt,.tipsWrap dl dd{line-height:25px;color:#6e6e6e;font-size:16px;}
.tipsWrap .tipsTxt{text-align:center;font-size:16px;height:35px;line-height:35px;}
.tipsWrap .tipsTxt .iconfont{font-size:35px;display:inline-block;margin-right:12px;vertical-align:middle;}
.tipsWrap .tipsTxt .tipIco{color:#f39800;}
.tipsWrap .tipsTxt .okIco{color:#4cd964;}
.tipsWrap .tipsTxt .errIco{color:#8a8a8a;}
.tipsWrap .tipsTxt span{height:35px;line-height:35px;}
.tipsWrap .tipsTxt1{padding-left:84px;font-size:16px;line-height:30px;}
.tipsWrap .tipsTxt1 .iconfont{float:left;font-size:35px;display:inline-block;margin-right:12px;vertical-align:middle;}
.tipsWrap .tipsTxt1 .errIco{color:#8a8a8a;}
.tipsWrap .tipsTxt1 span{float:left;width:180px;padding-bottom:10px;}
.tipsWrap .tipsMsg{text-align:center;color:#bdbdbd;font-size:14px;padding-top:10px;}
.tipsWrap .tipsBtnBar{text-align:center;margin:20px 0;}
.tipsWrap .tipsBtnBar a{ display:inline-block; line-height:35px; width:104px;font-size:16px;text-align:center; margin:0 10px; -moz-border-radius:5px; -webkit-border-radius: 5px; border-radius: 5px; }
.tipsWrap .tipsBtnBar a.okBtn{ background-color:#2370b6;}
.tipsWrap .tipsBtnBar a.okBtn:link,.tipsBtnBar a.okBtn:visited{ color:#fff; }
.tipsWrap .tipsBtnBar a.okBtn:hover{background-color:#2370b6;}
.tipsWrap .tipsBtnBar a.cancleBtn{ background-color:#cdcdcd; }
.tipsWrap .tipsBtnBar a.cancleBtn:link,.tipsBtnBar a.cancleBtn:link{ color:#fff; }
.tipsWrap .tipsBtnBar a.cancleBtn:hover{background-color:#aaa;}
.tipsWrap .tipsBtnBar a:hover{ text-decoration:none; }
.tipsWrap ul li{font-size:16px;line-height:34px;height:34px;margin-bottom:10px;}
.tipsWrap ul li strong{display:inline-block;width:124px;text-align:right;padding-right:10px;font-weight:normal;font-size:16px;color:#6e6e6e;}
.tipsWrap ul li span{color:#f39700;}
.tipsWrap ul li .payPwd{width:194px; height:34px; border:1px solid #d0d0d0; padding:0 5px; color:#666; background:url(../bg/lock.jpg) 176px 6px no-repeat;}