@charset "utf-8";
.main{
	width: 100%;
	background: #f0f0f0;
	height: 100%;
}
.back{
	width: 96%;
	padding: 0 2%;
	height: 52px;
	color: #FFFFFF;
	text-align: center;
	background: #1b1b1b;
	line-height: 52px;
	font-size: 1.0em;
}
.back-left{
	float: left;
}
.back-right{
	float: right;
}
.back-right img{
	width: 17px;
	vertical-align: middle;
}
.select{
	width: 100%;
	height: 52px;
	position: relative;
}
.select:after{
	content: '';
	display: block;
	border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #FFFFFF;
	position: absolute;
	top:22px;
	right: 0px;
}
.select p{
	padding:0% 25px;
	line-height: 52px;
}
.select ul{
	width: 100%;
	overflow-y:auto;
	position: absolute;
	z-index: 55;
	top:52px;
	left: 0;
	max-height: 0;
}
.select ul li{
	padding: 0% 25px;
	line-height: 52px;
}
.select ul li.selected{
	background-color: #39f;
	color: #fff;
}
.select.open ul{
	max-height: 250px;
	transform-origin:50% 0;
}
.select.open ul li{
	padding: 0;
}
.select.open:after{
	transform:rotate(-180deg);
	top: 23px;
}
.swiper-container{
	height: 220px;
}
.swiper-wrapper .swiper-slide  img {
  width: 100%;
  height: 100%; 
}
.swiper-content{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 66;
}
.swiper-table{
	width: 100%;
	display: table;
	height: 220px;
}
.swiper-table-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.swiper-table-cell button{
	font-size: 1em;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background: rgba(255,255,255,0);
	padding: 10px;
}
.productList{
	margin-top: 20px;
}
.attentionList{
	margin-top: 20px;
}
.product-item{
	clear: both;
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
	background: #ffffff;
	border-bottom: 2px solid #c3c3c3;
	margin-bottom: 20px;
}
.product-img{
	position: relative;
	width: 100%;
	height: 230px;
}
.product-big-img{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 22;
	height: 230px;
}
.product-small-left-img{
	position: absolute;
	left: 0px;
	top: 5%;
	z-index: 33;
	width: 57px;
	height: 20px;
	background: url(/themes/theme_default/cf/wechat/img/state_bg.png) no-repeat;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	background-size: 57px 20px;
	line-height: 20px;
}
.product-small-right-img{
	position: absolute;
	right: 3%;
	top: 5%;
	z-index: 33;
	width: 17px;
}
.product-title{
	width: 94%;
	margin: 22px auto;
	overflow: hidden;
	line-height: 24px;
}
.product-title p{
	color: #0b0b0b;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	text-align:justify;
	text-justify:inter-ideograph;
}
.attention-title{
	width: 94%;
	margin: 0 auto;
	margin-top: 17px;
	margin-bottom: 11px;
	font-size: 18px;
	color: #000000;
	line-height: 24px;
	overflow: hidden;
}
.lightspot-title{
	font-size: 14px;
	color: #000000;
	line-height: 24px;
	margin-bottom: 14px;
	overflow: hidden;
}
.attention-title-left{
	float: left;
	width: 8px;
	height: 8px;
	background: #e6243b;
	vertical-align: middle;
	margin-top: 8px;
}
.attention-title-right{
	width: 96%;
	float: right;
	font-size: 18px;
	margin-left: 1%;
	line-height: 24px;
}
.lightspot-title .attention-title-right{
	font-size: 14px;
}
.product-bottom{
	width: 94%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
}
.product-bottom-right-content{
	width: 96%;
	float: right;
}
.product-bottom-left{
	float: left;
	color: #a9a9a9;
	font-size: 14px;
}
.product-bottom-left p{
	margin-bottom: 14px;
}
.product-bottom-left p:last-child{
	margin-bottom: 0px;
}
.product-bottom-right{
	padding-top: 14px;
	float: right;
}
.product-type{
	color: #A9A9A9;
	font-size: 14px;
	background: #efefef;
	padding: 4px;
	margin-right: 5px;
}
.start-money{
	color: #f65f71;
	font-size: 14px;
}
.start-money font{
	font-size: 18px;
}
.end-time{
	color: #A9A9A9;
	font-size: 14px;
}
.product-bottom-right button{
	color: #0b0b0b;
	border: 1px solid #0b0b0b;
	font-size: 14px;
	background: #FFFFFF;
	padding: 5px 10px;
}
.banner{
	width: 100%;
	position: relative;
	height: 220px;
}
.banner-img{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 220px;
}
.banner-btn{
	position:absolute;
	width: 100%;
	left: 0;
	bottom: -19px;
}
.banner-btn button{
	display: block;
	width: 80px;
	margin: 0 auto;
	text-align: center;
	padding: 2px;
	color: #000000;
	font-size: 14px;
	border: 2px solid #000000;
	background: #ffffff;
}
.banner-btn button div{
	padding: 5px;
	border: 1px solid #1b1b1b;
}
.product-detail{
	width: 90%;
	margin: 0 auto;
}
.product-detail .product-title{
	width: 100%;
}
.product-detail .product-bottom{
	width: 100%;
}
.product-detail .product-title{
	margin-top:44px;
	margin-bottom: 18px;
}
.product-detail ul{
	width: 100%;
}
.lightspot ul li{
	clear: both;
	width: 100%;
	padding-bottom: 13px;
	font-size: 14px;
	color: #000000;
	overflow: hidden;
	line-height: 24px;
	background: url(/themes/theme_default/cf/wechat/img/light_spot.png) no-repeat left 10px;
	background-size: 4px 4px;
}
.lightspot ul li p{
	margin-left: 13px;
}
.lightspot ul li:last-child{
	padding-bottom: 0px;
}
.product-detail-img{
	width: 100%;
	margin: 20px auto;
}
.product-detail-img img{
	width: 100%;
	vertical-align: middle;
}
.product-detail-img p{
	width: 94%;
	margin: 20px auto;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size: 14px;
	color: #2c2c2c;
	line-height: 24px;
}
.product-detail-btn{
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #e6243b;
	color: #FFFFFF;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 4px;
}
.order-title{
	width: 100%;
	margin: 0 auto;
	border-left: 3px solid #e6243b;
	background: #ffffff;
	padding: 20px 0px;
}
.order-title p{
	width: 90%;
	margin: 0 auto;
	color: #0b0b0b;
	font-size: 18px;
	line-height: 24px;
}
.order-hr-bottom{
	width: 100%;
	height: 11px;
	background: #f3f3f3;
}
.order .lightspot{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
.invest-money{
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
}
.invest-money-content{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0px;
}
.invest-money-left{
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 24px;
}
.invest-money-right{
	display: inline-block;
	float: right;
	border-left: 1px solid #adadad;
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
}
.invest-money-right input{
	border: 0;
}
.regist-bg{
	width: 100%;
	height: 100%;
	background: url(/themes/theme_default/cf/wechat/img/regist_bg.png) no-repeat center center fixed;
	background-size: cover;
}
.regist-content{
	width: 78%;
	margin: 0 auto;
}
.regist-position{
	width: 100%;
	height: 100%;
	position: relative;
}
.regist-logo{
	width: 24%;
	margin: 0 auto;
	padding: 12% 0%;
}
.regist-logo img{
	width: 100%;
}
.form-group{
	width: 100%;
	margin-bottom: 4%;
	border-bottom: 1px solid #FFFFFF;
}
.form-group-position{
	position: relative;
	width: 100%;
}
.form-tip{
	width: 100%;
}
.form-tip p{
	width: 100%;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
	height: 24px;
	line-height: 24px;
}
.long-inp{
	width: 100%;
	border: 0;
	color: #FFFFFF;
	height: 40px;
	line-height: 40px;
	padding: 0px 5px;
	background: rgba(255,255,255,0);
}
.securityCode{
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	background: rgba(255,255,255,0);

	text-align: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: #f65f71;
}
.regist-content input::-webkit-input-placeholder{
　　color: #FFFFFF;
}
.regist-content input::-webkit-input-placeholder { /* WebKit browsers */
	color:#FFFFFF;
}
.regist-content input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#FFFFFF;
}
.regist-content input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#FFFFFF;
}
.regist-content input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#FFFFFF;
}
.regist-position-bottom{
	padding: 16% 0%;
}
.regist-forget-bottom{
	padding: 1% 0%;
	float: right;
}
.regist-btn{
	width: 100%;
	background: #e6243b;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	letter-spacing: 4px;
	border: 0;
}
.regist-tip{
	width: 100%;
	text-align: right;
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
}
.main-top{
	width:100%;
	background: url(/themes/theme_default/cf/wechat/img/main_top_bg.png) repeat-x;
	padding: 30px 0%;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.head-icon{
	width: 18%;
	margin: 0 auto;
}
.head-icon img{
	width: 100%;
	border-radius: 50%;
}
.main-btn{
	width: 74%;
	margin: 0 auto;
	padding-top: 30px;
}
.main-btn button{
	border: 1px solid #FFFFFF;
	width: 47%;
	text-align: center;
	height: 43px;
	line-height: 43px;
	color: #FFFFFF;
	background: rgba(255,255,255,0);
	margin-right: 4%;
	letter-spacing: 4px;
}
.main-btn button:last-child{
	margin-right: 0;
}
.main-bottom{
	padding-top: 5px;
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
}
.main-bottom ul{
	width: 96%;
	margin: 0 auto;
}
.main-bottom ul li{
	clear: both;
	height: 50px;
	line-height: 50px;
	color: #0B0B0B;
}
.main-bottom-li-left{
	float: left;
	width: 8px;
	height: 8px;
	background: #e6243b;
	vertical-align: middle;
	margin-top: 21px;
}
.main-bottom-li-middle{
	float: left;
	margin-left: 2%;
	width: 92%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #d0d0d0;
	color: #0B0B0B;
}
.main-bottom-li-middle span{
	float: left;
}
.main-bottom-li-middle b{
	font-weight: normal;
	float: right;
}
.main-bottom-li-right{
	float: right;
	height: 50px;
	line-height: 50px;
}
.main-comtent{
	width: 96%;
	margin: 0 auto;
	background: #FFFFFF;
}
.main-col{
	position: relative;
	clear: both;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #d0d0d0;
}
.main-col-left{
	float: left;
	display: inline-block;
	width: 30%;
}
.swiper-wrapper .swiper-slide .smallBankIcon{
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.main-col-right{
	margin-left: 4%;
	float: left;
	display: inline-block;
	width: 66%;
	color: #313131;
}
.main-col-right input{
	border: 0;
	width: 100%;
}
.invest-inp-money{
	color: #e6243b;
	font-size: 15px;
}
.select-bank{
	width: 80%;
	height: 50px;
	position: relative;
}
.select-bank:after{
	content: '';
	display: block;
	border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:8px solid #313131;
	position: absolute;
	top:22px;
	right: 0px;
}
.select-bank p{
	line-height: 50px;
	color: #666666;
	font-size: 14px;
}
.select-bank ul{
	width: 100%;
	overflow-y:auto;
	position: absolute;
	z-index: 55;
	top:38px;
	left: 0;
	max-height: 0;
	border-radius: 3px;
	background-color: #ededed;
}
.select-bank ul li{
	padding-left: 5px;
	line-height: 50px;
	color: #666666;
}
.select-bank ul li.selected{
	color: #666666;
}
.select-bank.open ul{
	max-height: 250px;
}
.select-bank.open ul li{
	padding-left: 2%;
}
.select-bank.open:after{
	transform:rotate(-180deg);
	top: 23px;
}
.securitycode-btn{
	position: absolute;
	right: 0;
	top: 5px;
	background: rgba(255,255,255,0);
	width: 25%;
	text-align: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: #313131;
	border: 2px solid #313131;
}
.error-tip{
	margin-top: 5px;
	clear: both;
	width: 100%;
	color: #e6243b;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.tabs{
	background: #f0f0f0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #D0D0D0;
}
.tabs a{
	display: inline-block;
	width: 45%;
	margin-left: 5%;

	float: left;
	text-align: center;
	color: #939393;
}
.tabs a:last-child{
	margin-left: 0;
	margin-right: 5%;
}
.tabs  .active{
	color: #e6243b;
	border-bottom: 3px solid #E6243B;
}
.recharge-content{
	clear: both;
	width: 100%;
	height: auto;
}
.recharge-content .main-col{
	width: 96%;
	margin: 0 auto;
	padding: 0px 2%;
	background: #ffffff;
}
.recharge-content .main-col .main-col-left{
	padding-left: 3%;
	width: 30%;
}
.recharge-content .main-col .main-col-right{
	width: 63%;
}
.recharge-content .main-col select{
	margin-left: 2%;
	width: 45%;
	border: 1px solid #d0d0d0;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	color: #939393;
}
.recharge-content .main-col select:last-child{
	margin-left: 0;
}
.recharge-tip{
	background: #f0f0f0;
	height: 40px;
	line-height: 40px;
	padding-left: 8%;
}
.recharge-tip-left{
	display: inline-block;
	float: left;
	background: #e6243b;
	width: 8px;
	height: 8px;
	margin-top: 16px;
}
.recharge-tip-right{
	margin-left: 3%;
	width: 94%;
	display: inline-block;
	float: left;
	color: #939393;
}
.recharge-tip-right h3{
	line-height: 40px;
	font-weight: normal;
}
.recharge-tip-right p{
	line-height: 24px;
}
.recharge-top{
	width: 90%;
	padding: 3% 5%;
	color: #3a3a3a;
	background: #FFFFFF;	
}
.recharge-top p{
	line-height: 30px;
	font-size: 16px;
}