.my-table th,td{
	text-align: left;
	font-size: 14px;
}
.my-table th{
	background: rgb(216,229,238);
}
.no-data{
	text-align: center;
}
.gray-error{
	font-size: 14px;
	color: rgb(210,210,210);
}
.warning-div{
	margin-left: 0px;
	text-align: left;
}
.color-warning-p{
	color:rgb(62,148,209);
	font-size: 15px;
}
.warning-p{
	color:rgb(131,131,131);
	font-size: 14px;
}
body {
	background: #fafafa;
}
.margin5p{
	font-size: 22px;
}
.info{
	margin-left: 30px;
	margin-right: 30px;
}